$primary: #546e7a;

$p-light: #819ca9;
$p-dark: #29434e;

$secondary: #ff6d00;
$s-light: #ff9e40;
$s-dark: #c43c00;

/*
Teal and Orange
$primary: #00675b;

$p-light: #52c7b8;
$p-dark: #009688;

$secondary: #ff8a80;
$s-light: #ffbcaf;
$s-dark: #c85a54;
*/

$phone: "only screen and (max-width : 480px)";
$phablet: "only screen and (max-width : 839px)";
$tablet: "only screen and (max-width: 1024px)";
