.container {
  display: block;
  padding: 0 5vw 0 5vw;
  max-width: calc(100% - 10vw);
}
.title {
  margin: 0;
  font-size: 4vh !important;
}
.text-primary {
  margin: 0;
  font-size: 2vh !important;
}
.text-secondary {
  margin: 0;
  font-size: 1.5vh !important;
}
